<header
  class="w-full max-sm:py-8 flex justify-center max-lg:sticky fixed top-0 z-10 max-sm:bg-slate-950 transition-all duration-300"
  id="header"
>
  <nav class="text-slate-50 sm:px-8 sm:py-8 sm-4 sm-4 relative max-w-6xl w-full">
    <ul class="flex justify-center items-center">
      <li class="flex-1 flex justify-end sm:hidden max-sm:pr-4">
        <button id="menu_cel_btn" class="ml-auto">
          <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Menu desplegable en dispositivos mobile" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M160-360v-80h640v80H160Zm0-160v-80h640v80H160Z"/></svg>
        </button>
      </li>
      <li
        id="menu"
        class="hidden  sm:gap-8 max-sm:absolute max-sm:flex-col bottom-[-190px] max-sm:w-full max-sm:items-end max-sm:bg-slate-900 max-sm:pr-4 max-sm:gap-3 max-sm:pt-[10px] max-sm:h-40 justify-center sm:flex sm:justify-end lg:items-center font-normal text-base"
      >
        <a
          href="/"
          class="transition-all text-end max-lg:mb-3 duration-300 ease-in <%= currentPath === '/' ? 'text-[#2AEEC8]' : 'hover:text-[#2AEEC8]' %>" 
          >Inicio</a
        >
        <a
          href="/tyc"
          class="transition-all text-end max-lg:mb-3 duration-300 ease-in <%= currentPath === '/tyc' ? 'text-[#2AEEC8]' : 'hover:text-[#2AEEC8]' %>"
          >Términos y Condiciones</a
        >
        <a
          href="/participantes"
          class="transition-all max-lg:mb-3 duration-300 ease-in <%= currentPath === '/participantes' ? 'text-[#2AEEC8]' : 'hover:text-[#2AEEC8]' %>"
          >Participantes</a
        >
      </li>
    </ul>
  </nav>
</header>
