<section
  class="self-center w-full h-60 flex justify-center items-center max-sm:px-4"
>
  <article>
    <h1 class="text-white text-4xl font-bold">Próxima fecha del sorteo:</h1>
  </article>
</section>
