<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/output.css">
    <script nonce="<%= nonce %>" src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmado</title>
</head>
<body>
    <%- include("./partials/background.ejs") %>
    <script nonce="<%= nonce %>">
        Swal.fire({
            title: "Correo confirmado",
            text: "Hemos confirmado tu correo ¡Suerte en el sorteo 🧉!",
            icon: "success",
            allowOutsideClick: false,
            confirmButtonText: "Volver al inicio",
        }).then(() => window.location.href = "/");
    </script>
</body>
</html>